.products-container{
	display: flex;
	flex-wrap: wrap;
}
.product-card{
	display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
  max-width: 320px;
  margin: 10px;
}
.product-card__name {
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding: 10px;
}
.product-card__description {
    padding: 20px;
}
.product-card__changer{
	padding: 10px;
}